<div class="wrapper">
  <h2> {{registUser.name}}, you are entered to the user's controls</h2>
  <div class="wrapper-admin">
    <!--<div class="navigation-admin">
      <button class="btn btn-outline-info btn-block" routerLink="/user/main/information" routerLinkActive="active">
        About user
      </button>
      <button class="btn btn-outline-info btn-block" routerLink="/user/main/orders" routerLinkActive="active">
        Orders
      </button>
    </div>-->
    <div class="content-admin">
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>