.body {
    font-family: "Open Sans" , Arial , sans-serif;
}
#footer{
    width: 100%;
    color: white;
    background: orange;
}
p{
    text-align: center;
    padding: 50px;
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin: 0;
}