<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Archetype Created Web Application</display-name>
  <listener>
  	<listener-class>hibernate.listeners.ContextListener</listener-class>
  </listener>
  <servlet>
  	<description></description>
  	<display-name>Manufacturers</display-name>
  	<servlet-name>Manufacturers</servlet-name>
  	<servlet-class>hibernate.servlets.Manufacturers</servlet-class>
  </servlet>
  <servlet>
  <description></description>
  <display-name>ManufacturerCreate</display-name>
  	<servlet-name>ManufacturerCreate</servlet-name>
  	<servlet-class>hibernate.servlets.ManufacturerCreate</servlet-class>
  </servlet>
  <servlet>
  <description></description>
  <display-name>ManufacturerDelete</display-name>
  	<servlet-name>ManufacturerDelete</servlet-name>
  	<servlet-class>hibernate.servlets.ManufacturerDelete</servlet-class>
  </servlet>
  <servlet>
  <description></description>
  <display-name>ManufacturerEdit</display-name>
  	<servlet-name>ManufacturerEdit</servlet-name>
  	<servlet-class>hibernate.servlets.ManufacturerEdit</servlet-class>
  </servlet>
  <servlet>
  	<description></description>
  	<display-name>Products</display-name>
  	<servlet-name>Products</servlet-name>
  	<servlet-class>hibernate.servlets.Products</servlet-class>
  </servlet>
  <servlet>
  	<description></description>
  	<display-name>ProductEdit</display-name>
  	<servlet-name>ProductEdit</servlet-name>
  	<servlet-class>hibernate.servlets.ProductEdit</servlet-class>
  </servlet>
  <servlet>
  	<description></description>
  	<display-name>ProductDelete</display-name>
  	<servlet-name>ProductDelete</servlet-name>
  	<servlet-class>hibernate.servlets.ProductDelete</servlet-class>
  </servlet>
  <servlet>
  <description></description>
  	<display-name>ProductCreate</display-name>
  	<servlet-name>ProductCreate</servlet-name>
  	<servlet-class>hibernate.servlets.ProductCreate</servlet-class>
  </servlet>
  <servlet>
  	<description></description>
  	<display-name>XmlCreate</display-name>
  	<servlet-name>XmlCreate</servlet-name>
  	<servlet-class>hibernate.servlets.XmlCreate</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Providers</display-name>
  	<servlet-name>Providers</servlet-name>
  	<servlet-class>hibernate.servlets.Providers</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProviderEdit</display-name>
  	<servlet-name>ProviderEdit</servlet-name>
  	<servlet-class>hibernate.servlets.ProviderEdit</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProviderDelete</display-name>
  	<servlet-name>ProviderDelete</servlet-name>
  	<servlet-class>hibernate.servlets.ProviderDelete</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProviderCreate</display-name>
  	<servlet-name>ProviderCreate</servlet-name>
  	<servlet-class>hibernate.servlets.ProviderCreate</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Orders</display-name>
  	<servlet-name>Orders</servlet-name>
  	<servlet-class>hibernate.servlets.Orders</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OrdersEdit</display-name>
  	<servlet-name>OrdersEdit</servlet-name>
  	<servlet-class>hibernate.servlets.OrdersEdit</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OrderEdit</display-name>
  	<servlet-name>OrderEdit</servlet-name>
  	<servlet-class>hibernate.servlets.OrderEdit</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OrderDelete</display-name>
  	<servlet-name>OrderDelete</servlet-name>
  	<servlet-class>hibernate.servlets.OrderDelete</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OrderCreate</display-name>
  	<servlet-name>OrderCreate</servlet-name>
  	<servlet-class>hibernate.servlets.OrderCreate</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EmailCreate</display-name>
  	<servlet-name>EmailCreate</servlet-name>
  	<servlet-class>hibernate.servlets.EmailCreate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Manufacturers</servlet-name>
  	<url-pattern>/Manufacturers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManufacturerCreate</servlet-name>
  	<url-pattern>/ManufacturerCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManufacturerDelete</servlet-name>
  	<url-pattern>/ManufacturerDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManufacturerEdit</servlet-name>
  	<url-pattern>/ManufacturerEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Products</servlet-name>
  	<url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductEdit</servlet-name>
  	<url-pattern>/ProductEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductDelete</servlet-name>
  	<url-pattern>/ProductDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductCreate</servlet-name>
  	<url-pattern>/ProductCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>XmlCreate</servlet-name>
  	<url-pattern>/XmlCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Providers</servlet-name>
  	<url-pattern>/Providers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProviderEdit</servlet-name>
  	<url-pattern>/ProviderEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProviderDelete</servlet-name>
  	<url-pattern>/ProviderDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProviderCreate</servlet-name>
  	<url-pattern>/ProviderCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Orders</servlet-name>
  	<url-pattern>/Orders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrdersEdit</servlet-name>
  	<url-pattern>/OrdersEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderEdit</servlet-name>
  	<url-pattern>/OrderEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderDelete</servlet-name>
  	<url-pattern>/OrderDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderCreate</servlet-name>
  	<url-pattern>/OrderCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailCreate</servlet-name>
  	<url-pattern>/EmailCreate</url-pattern>
  </servlet-mapping>
</web-app>
