<img *ngIf="showImg" src="{{product.url}}" alt="картинка">
<img *ngIf="takeImage !=='' && takeImage" src="/assets/img/{{wayImgFront}}">

<form  #myForm="ngForm" class="conteinerRegist">
    <mat-form-field class="product-fild">
        <!--Мы указываем fish?.name оператор ? служит если fish.name пустое чтобы не было ошибки и нам не нужно было заполнять пустыми строчками-->
        <input type="text" matInput
               placeholder="Name"
               value=""
               required
               [ngModel]="product?.name"
               name="name">
        <!--<mat-error *ngIf="titile.invalid">Please enter a name</mat-error>-->
    </mat-form-field>

    <mat-form-field class="product-fild">
        <input type="text"
               matInput placeholder="Manufacturer"
               value=""
               required
               name="manufacturer"
               [ngModel]="product?.manufacturer">
    </mat-form-field>

    <mat-form-field class="product-fild">
        <input type="text"
               matInput
               required
               placeholder="Price"
               name="price"
               [ngModel]="product?.price">
    </mat-form-field>

    <mat-form-field class="product-fild">
        <select matNativeControl placeholder="The best" required [ngModel]="product?.bestProduct" name="bestProduct">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
    </mat-form-field>

    <mat-form-field class="product-fild product-specifications">
        <textarea
                matInput
                required
                rows="4"
                placeholder="Specifications"
                name="specifications"
                [ngModel]="product?.specifications">
        </textarea>
    </mat-form-field>

    <mat-form-field class="product-fild product-description">
            <textarea
                    matInput
                    required
                    rows="4"
                    placeholder="Description"
                    name="description"
                    [ngModel]="product?.description">
            </textarea>
        </mat-form-field>

    <mat-form-field class="product-fild">
        <select matNativeControl placeholder="Тип" required [ngModel]="product?.type" name="type">
            <option value="GPU">GPU</option>
            <option value="CPU">CPU</option>
            <option value="CPU">SSD</option>
            <option value="HDD">HDD</option>
        </select>
    </mat-form-field>

    <button mat-stroked-button class="buton-enterence" type="button" (click)="filePicker.click()"> Load Image</button>
    <input [formControl]="image" type="file" style="display: none;" #filePicker (change)="onImagePicked($event)">
    <button mat-raised-button class="buton-enterence" (click)="onSavePost(myForm)"> Save</button>
</form>
