<div>
    <button mat-button class="button btn btn-warning btn-table" [routerLink]="['/admin/main/users/create']">Add user</button>
    <button class="btn btn-outline-danger btn-block" (click)="updateAll()"> Update data</button>
</div>
<table class="table table-bordered table-striped p-a-1">
    <thead>
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone number</th>
        <th class="text-xs-right">Address</th>
        <th class="text-xs-right">City</th>
        <th class="text-xs-right">Level</th>
        <th class="text-xs-right">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td>{{user.email}}</td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.number}}</td>
        <td>{{user.adress}}</td>
        <td>{{user.city}}</td>
        <td>{{user.role}}</td>
        <td class="text-xs-center">
            <button class="btn btn-warning btn-table" [routerLink]="['/admin/main/users/edit', user._id]"> Edit
            </button>
            <button class="btn btn-sm btn-danger" (click)="deleteUser(user._id)"> Remove</button>
        </td>
    </tr>
    </tbody>
</table>