td {
    width: 100px;
}

.cart-btn {
    margin-left: 10px;
}

.btn-table {
    margin-bottom: 10px;
}

.btn-block{
    margin-bottom: 10px;
}

.button {
    width: 100%;
    margin-top:5px;
    color: #e9b416;
    width: 100%;
    margin-top:5px;
    border:  #ffc107 1px solid;
}

.button:hover {
    color: white;
    background: #ffce2b;
    transition:0.7s;
}