.product-fild {
    display: block;
    width: 400px;
    text-align: center;
    margin: 10px auto;
}

.product-description {

}

.buton-enterence {
    display: block;
    width: 150px;
    margin: 20px auto;
}