<form #myForm="ngForm" class="conteinerRegist">
    <mat-form-field class="product-fild">
        <!--Мы указываем fish?.name оператор ? служит если fish.name пустое чтобы не было ошибки и нам не нужно было заполнять пустыми строчками-->
        <input type="text" matInput
               placeholder="Email"
               value=""
               required
               [ngModel]="user?.email"
               name="email">
        <!--<mat-error *ngIf="titile.invalid">Please enter a name</mat-error>-->
    </mat-form-field>

    <mat-form-field *ngIf="checkMode()" class="product-fild">
        <input type="text"
               matInput
               required
               placeholder="Password"
               name="password"
               [ngModel]="user?.password">
    </mat-form-field>

    <mat-form-field class="product-fild">
        <input type="text"
               matInput placeholder="Name"
               value=""
               required
               name="name"
               [ngModel]="user?.name">
    </mat-form-field>

    <mat-form-field class="product-fild">
        <input type="text"
               matInput
               required
               placeholder="Surname"
               name="surname"
               [ngModel]="user?.surname">
    </mat-form-field>

    <mat-form-field class="product-fild">
        <input type="text"
               matInput
               required
               placeholder="Address"
               name="adress"
               [ngModel]="user?.adress">
    </mat-form-field>

    <mat-form-field class="product-fild">
        <input type="text"
               matInput
               required
               placeholder="City"
               name="city"
               [ngModel]="user?.city">
    </mat-form-field>

    <mat-form-field class="product-fild">
        <input type="text"
               matInput
               required
               placeholder="Phone number"
               name="number"
               [ngModel]="user?.number">
    </mat-form-field>

    <mat-form-field class="product-fild">
        <select matNativeControl required [ngModel]="user?.role" name="role">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
    </mat-form-field>

    <button mat-raised-button class="buton-enterence" (click)="onSaveUser(myForm)"> Save</button>
</form>