img {
    height: 120px;
    width: 120px;
}

td {
    width: 120px;
}

.cart-btn {
    margin-left: 10px;
}

.btn-table {
    margin-bottom: 10px;
}

.button {
    color: #e9b416;
    width: 100%;
    margin-top:5px;
    margin-bottom: 10px;
    border:  #ffc107 1px solid;
}

.button:hover {
    color: white;
    background-color: #ffc107;
    transition:0.7s;
}

.btn-block{
    margin-bottom: 10px;
}