img {
    height: 120px;
    width: 120px;
}

td {
    width: 120px;
}

.cart-btn {
    margin-left: 10px;
}

.btn-table {
    margin-bottom: 10px;
}

.button {
    width: 100%;
    margin-top:5px;
}

.button:hover {
    background: #4c59df;
    transition:1s;
}