<div>
    <button mat-button class="button" [routerLink]="['/admin/main/products/create']"> Add product</button>
    <button class="btn btn-outline-danger btn-block" (click)="updateAll()"> Update data</button>
</div>



<table class="table table-bordered table-striped p-a-1">
    <thead>
    <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Manufacturer</th>
        <th>Description</th>
        <th>Specifications</th>
        <th>Type</th>
        <th class="text-xs-right">Price</th>
        <th class="text-xs-right">The best</th>
        <th class="text-xs-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
        <td><img src="{{product.url}}"></td>
        <td>{{product.name}}</td>
        <td>{{product.manufacturer}}</td>
        <td>{{product.description}}</td>
        <td>{{product.specifications}}</td>
        <td>{{product.type}}</td>
        <td>{{product.price}}</td>
        <td *ngIf="product.bestProduct">{{product.bestProduct}}</td>
        <td *ngIf="!product.bestProduct">False</td>
        <td class="text-xs-center">
            <button class="btn btn-warning btn-table" [routerLink]="['/admin/main/products/edit', product.id]">
                Edit
            </button>
            <button class="btn btn-sm btn-danger" (click)="deleteProduct(product.id)"> Remove</button>
        </td>
    </tr>
    </tbody>

</table>