<app-slider-store></app-slider-store>

<div class="best-product">
    <div class="wrapper">
        <h2>Best Deal</h2>
        <div class="conteiner-best-product">
            <div class="best-product__item" *ngFor="let bestproduct of BestProduct ">
                <h3>{{bestproduct.name}}</h3>
                <img src="{{bestproduct.url}}">
                <div class="best-product__button">
                    <div class="poster">Show Info
                        <div class="descr">
                            <p>Manufacturer: {{bestproduct.manufacturer}}</p>
                            <p>Price: {{"₴" + bestproduct.price}}</p>
                            <p>Type: {{bestproduct.type}}</p>
                            <p>Description: {{bestproduct.description}}</p>
                        </div>
                    </div>
                    <button mat-button class="list-item_button btn-best" (click)="addProductToCart(bestproduct)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="conteiner-category">
    <div class="wrapper">
        <ul>
            <li>
                <a href="#" [ngClass]="{linkActive:cat==selectedCategory}" (click)="changeCategory()">All accessories</a>
            </li>
            <li *ngFor="let cat of categories">
                <a href="#" [ngClass]="{linkActive:cat==selectedCategory}" (click)="changeCategory(cat)">{{ cat }}</a>
            </li>
        </ul>
    </div>
</div>

<div class="product-list">
    <div class="wrapper">
        <div class="product-conteiner">
                <div class="product-list__item" *ngFor=" let productItem of products ">
                    <img src="{{productItem.url}}">
                    <h3> {{productItem.name }}</h3>
                    <div class="content-list__item">
                        <span class="list-item_price"> {{ "₴" + productItem.price}} </span><br>
                        <div class="poster">Show Info
                            <div class="descr">
                                <p>Manufacturer: {{productItem.manufacturer}}</p>
                                <p>Price: {{"₴" + productItem.price}}</p>
                                <p>Type: {{productItem.type}}</p>
                                <p>Description: {{productItem.description}}</p>
                            </div>
                        </div>
                        <button mat-button class="list-item_button" (click)="addProductToCart(productItem)">Add to Cart</button>
                    <!--<button mat-button class="list-item_button" (click)="openDialog(productItem)" > Подробнее </button>-->
                    </div>
                </div>
        </div>
    </div>
</div>