<app-slider-store></app-slider-store>

<div class="best-product2">
    <div class="wrapper2">
        <h2>Top Price</h2>
        <div class="img2">
            <img src="{{BestProduct[0].url}}">
            <div class="price-box"><s>{{(BestProduct[0].price + 458) + "₴"}}</s>{{"   " + BestProduct[0].price + "₴"}}</div> 
        </div>
        <div class="info2">
            <p><b>Name:</b> {{BestProduct[0].name}}</p>
            <p><b>Type:</b> {{BestProduct[0].type}}</p>
            <p><b>Description:</b> {{BestProduct[0].description}}</p>
            <p><b>Specification:</b> {{BestProduct[0].specifications}}</p>
            <button class="btn-top" (click)="addProductToCart(BestProduct[0])">Add to Cart</button>
        </div>
    </div>
</div>

<div class="best-product">
    <div class="wrapper">
        <h2>Best Deal</h2>
        <div class="conteiner-best-product">
            <div class="best-product__item" *ngFor="let bestproduct of BestProduct ">
                <h3>{{bestproduct.name}}</h3>
                <img src="{{bestproduct.url}}">
                <div class="best-product__button">
                    <div class="poster">Show Info
                        <div class="descr">
                            <p><b>Manufacturer: </b>{{bestproduct.manufacturer}}</p>
                            <p><b>Price: </b>{{"₴" + bestproduct.price}}</p>
                            <p><b>Type: </b>{{bestproduct.type}}</p>
                            <p><b>Specification: </b>{{bestproduct.specifications}}</p>
                            <p><b>Description: </b>{{bestproduct.description}}</p>
                        </div>
                    </div>
                    <button mat-button class="list-item_button btn-best" (click)="addProductToCart(bestproduct)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="conteiner-category">
    <div class="wrapper">
        <ul>
            <li>
                <a href="#" [ngClass]="{linkActive:cat==selectedCategory}" (click)="changeCategory()">All accessories</a>
            </li>
            <li *ngFor="let cat of categories">
                <a href="#" [ngClass]="{linkActive:cat==selectedCategory}" (click)="changeCategory(cat)">{{ cat }}</a>
            </li>
        </ul>
    </div>
</div>

<div class="product-list">
    <div class="wrapper">
        <div class="product-conteiner">
                <div class="product-list__item" *ngFor=" let productItem of products ">
                    <img src="{{productItem.url}}">
                    <h3> {{productItem.name }}</h3>
                    <div class="content-list__item">
                        <span class="list-item_price"> {{ "₴" + productItem.price}} </span><br>
                        <div class="poster">Show Info
                            <div class="descr">
                                <p><b>Manufacturer: </b>{{productItem.manufacturer}}</p>
                                <p><b>Price: </b>{{"₴" + productItem.price}}</p>
                                <p><b>Type: </b>{{productItem.type}}</p>
                                <p><b>Specification: </b>{{productItem.specifications}}</p>
                                <p><b>Description: </b>{{productItem.description}}</p>
                            </div>
                        </div>
                        <button mat-button class="list-item_button" (click)="addProductToCart(productItem)">Add to Cart</button>
                    <!--<button mat-button class="list-item_button" (click)="openDialog(productItem)" > Подробнее </button>-->
                    </div>
                </div>
        </div>
    </div>
</div>