<div>
    <button class="btn btn-outline-danger btn-block" (click)="updateAll()"> Update data</button>
</div>

<table class="table table-bordered table-striped p-a-1">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Data</th>
        <th>Status</th>
        <th>Total cost</th>
        <th>Orders</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let o of myOrders">
        <td class="customer">{{o.user.name}} {{o.user.surname}}</td>
        <td class="data"> {{o.date}}</td>
        <td class="checked"> {{o.checked}}</td>
        <td class="amount"> {{o.cartPrice}}</td>
        <td class="cart">
            <ul>
                <li *ngFor="let line of o.lines">
                    <img src="{{line.product.url}}"> Name : {{line.product.name}} .Quantity : {{line.quantity}}
                </li>
            </ul>
        </td>
        <td>
            <button class="btn btn-sm btn-danger buton-order"  (click)="deleteOrder(o._id,null)">Remove</button>
            <button class="btn btn-warning btn-table buton-order" *ngIf="o.checked===false" style="margin-top: 5px" (click)="deleteOrder(null,o)">Accept</button>
        </td>
    </tr>
    </tbody>
</table>