<header>
    <div class="wrapper">
        <div class="conteiner-header">
            <div class="header-item">
                <a routerLink="/"> <img style="width:80px" src="/assets/img/header-logo.png"></a>
            </div>

            <button mat-button *ngIf="!registr" routerLink="/admin">Sign in</button>
            <button mat-button *ngIf="registr" (click)="logout()" style="margin-left:10px" routerLink="/admin">Sign out</button>

            <button mat-button *ngIf="user.checkRol('admin')" routerLink="/admin/main">Admin's controls</button>
            <button mat-button *ngIf="user.checkRol('user')" routerLink="/user/main">User's controls</button>

            <span class="spacer"></span>
            <div class="header-item">
                <app-cart-summary></app-cart-summary>
            </div>
        </div>
    </div>

</header>
